.c-list { 
    margin-top: 16px;
    padding: 0;
    list-style-type: none;
    border-top: 1px solid #F4FBFF;

    &__item {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        
        &:nth-child(odd) {
            background-color: #F4FBFF;
        }

        &__info {
            & > a {
                text-decoration: none;
                color: #000;
            }
        }

        &__stars {
            width: 100px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            
            & > svg {
                margin-left: 6px;
            }
        }
    }
}
